body {
    background-image: linear-gradient(rgba(15, 0, 62, 0.86), rgb(11, 1, 57));
    height: 100vh;
    padding-top: 200px;
    color: antiquewhite;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}